@font-face {
  font-family: "tro";
  src: url('tro.woff2?t=1769792951984') format('woff2');
}

[class^="tro-"], [class*=" tro-"] {
  font-family: 'tro' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tro-bullet-plus-bold::before { content: "\ea01"; }
.tro-bullet-plus::before { content: "\ea02"; }
.tro-bullet::before { content: "\ea03"; }
.tro-checkbox-checked::before { content: "\ea04"; }
.tro-checkbox::before { content: "\ea05"; }
.tro-donut::before { content: "\ea06"; }
.tro-minus::before { content: "\ea07"; }
.tro-three-dots::before { content: "\ea08"; }


