@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/InterVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/InterVariable-Italic.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@layer base {
  :root {
    font-family: Roboto, Inter, Arial, system-ui, Avenir, Helvetica, sans-serif;
  }

  html,
  body {
    /* position: fixed; */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  code,
  pre {
    font-family: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    line-height: 1.25;
    font-size: 14px;
  }

  span.token {
    background: none !important;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  h5 {
    @apply text-base font-semibold;
  }

  h6 {
    @apply text-sm font-semibold;
  }

  table {
    border-collapse: collapse;
    /* width: 100%; */
  }

  th,
  td {
    border: 1px solid #000000;
    padding: 4px 8px;
  }

  p {
    @apply leading-tight;
  }

  ol {
    @apply leading-tight;
    @apply list-decimal list-inside;
  }

  ol ol {
    @apply pl-4;
  }

  ul {
    @apply leading-tight;
    @apply list-disc list-inside;
  }

  ul ul {
    @apply pl-4;
  }

  hr {
    @apply my-3;
  }

  a {
    @apply text-blue-600;
  }

  blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-700;
  }
}

/* * {
  scrollbar-width: thin;            
  scrollbar-color: #888 #f1f1f1;   
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: auto;            
    scrollbar-color: #888 #f1f1f1;   
  }
} */

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}
