/** biome-ignore-all lint/suspicious/noUnknownAtRules: explanation */
@import "tailwindcss";
@import "@phosphor-icons/web/regular";
@import "@phosphor-icons/web/thin";
@import "@phosphor-icons/web/light";
@import "@phosphor-icons/web/bold";
@import "@phosphor-icons/web/fill";
@import "@phosphor-icons/web/duotone";

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/InterVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/InterVariable-Italic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}


:root {
  font-family: Roboto, Inter, Arial, system-ui, Avenir, Helvetica, sans-serif;
  /* --sidebar-width: clamp(200px, 20vw, 500px); */
   --sidebar-width: 200px;
}

html {
  overflow-y: hidden;
}

/* Mobile-first: small screens */
@media (max-width: 639px) {
  :root {
    --sidebar-width: 300px;
  }
}


/*
Add pseudo element(newline) to the contenteditable to prevent trailing newline from collapsing
Dynalist uses actual newline in the note text to achive the same result
*/
.trailing-nl:after {
  /* biome-ignore lint/suspicious/noUselessEscapeInString: explanation */
  content: "\A";
  white-space: pre;
}

/* Marging based on the screen size */
/* .Document {
  @apply px-2 sm:px-8 md:px-16 lg:px-32 xl:px-64 2xl:px-64;
} */

/* .RootNode-self {
  @apply flex items-start;
} */

/* .Node-self {
  @apply flex;
  @apply items-start;
} */

/* .Node-bullet,
.Node-options {
  @apply flex flex-none;
  @apply items-center justify-center;
  @apply cursor-pointer;
  @apply min-h-5;
  @apply min-w-5;
} */

/* .NodeContent-container {
  @apply flex-auto; */
  /* critical: allows child to shrink and wrap */
  /* @apply min-w-0;

} */

.NodeContent-contenteditable {
  /* @apply cursor-text;
  @apply select-text;
  @apply outline-none;
  @apply whitespace-pre-wrap;
  @apply wrap-break-word;
  @apply min-h-5;
  @apply leading-tight; */


  text-decoration-skip-ink: none;
  text-rendering: optimizeLegibility;

}

/* .NodeContent-render {
  @apply wrap-break-word;
  @apply min-h-5;
} */

/* .NodeChildren {
  @apply flex flex-col gap-2;
  @apply border-l border-gray-200;
  @apply ml-2 pl-5;
} */


.NodeContent-render code {
  /* max-width: 100% !important; */
  /* max-width: 500px !important; */
  /* white-space: pre-wrap !important; */
  /* WRAPS long lines */
  /* word-break: break-word !important; */
  /* overflow-x: auto !important; */
  /* allow scroll instead of breaking layout */
  /* box-sizing: border-box !important; */
}


body {
  position: relative;
}


@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  h5 {
    @apply text-base font-semibold;
  }

  h6 {
    @apply text-sm font-semibold;
  }



}

table {
  border-collapse: collapse;
  /* width: 100%; */
}

th,
td {
  border: 1px solid #000000;
  padding: 4px 8px;
}

p {
  @apply leading-tight;
}

ol {
  @apply leading-tight;
  @apply list-decimal list-inside;
}

ol ol {
  /* add indent to nested lists */
  @apply pl-4;
}

ul {
  @apply leading-tight;
  @apply list-disc list-inside;
}

ul ul {
  /* add indent to nested lists */
  @apply pl-4;
}

hr {
  @apply my-3;
}

a {
  @apply text-blue-600;
}

blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-700;
}

* {
  scrollbar-width: thin;            
  scrollbar-color: #888 #f1f1f1;   
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: auto;            
    scrollbar-color: #888 #f1f1f1;   
  }
}


/* 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */